In [18]:
# create randum numbers
import numpy as np
np.random.seed()
data = np.random.uniform(low=-1.0, high=1.0, size=(10,10))

In [19]:
data[2,3]

0.1653108062274764

In [20]:
import pandas as pd

# create dataframe
df = pd.DataFrame(np.ndenumerate(data), columns=["coordinates","value"])

# unpack coordinates tuple into single columns
df[["y","x"]]  = df["coordinates"].tolist()

# get rid of coordinates column
df.drop('coordinates', axis=1, inplace=True)

In [22]:
df[(df.y == 2) & (df.x == 3)]

       value  y  x
23  0.165311  2  3

In [23]:
df

       value  y  x
0   0.788830  0  0
1   0.413680  0  1
2   0.553589  0  2
3  -0.138073  0  3
4   0.534490  0  4
..       ... .. ..
95 -0.002380  9  5
96  0.861699  9  6
97  0.855045  9  7
98  0.678011  9  8
99 -0.361956  9  9

[100 rows x 3 columns]